:root {
  --main-blue: #2f2a85;
  --main-white: #ececf9;
  --text-blue: #1b184e;
  --text-purple: #2c0439;
  --text-highlight: #4d45db;
}

@font-face {
  font-family: Lexend;
  src: url("/assets/fonts/Lexend_standard/lexend_regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text-blue);
}

body {
  font-family: "Lexend", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-weight: 400;
}

p {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}
