:root {
  --main-blue: #2f2a85;
  --main-white: #ececf9;
  --text-blue: #1b184e;
  --text-purple: #2c0439;
  --text-highlight: #4d45db;
}

@font-face {
  font-family: Lexend_light;
  src: url("/assets/fonts/Lexend_standard/lexend_light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Lexend;
  src: url("/assets/fonts/Lexend_standard/lexend_regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Lexend_medium;
  src: url("/assets/fonts/Lexend_standard/lexend_medium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Lexend_bold;
  src: url("/assets/fonts/Lexend_standard/lexend_bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lexend", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-blue);
}

h2 {
  font-family: "Lexend_bold", sans-serif;
  font-size: 32px;
  text-align: center;
  margin: 56px 0;
  color: var(--text-blue);
}

@media (max-width: 768px) {
  h2 {
    font-size: 26px;
    margin: 32px 0;
  }
}

p {
  color: var(--text-blue);
}

a {
  text-decoration: none;
  color: inherit;
}

strong {
  font-family: "Lexend_bold", sans-serif;
}
