main {
  width: 100%;
  max-width: 1344px;
  margin: 56px auto;
}

@media (max-width: 768px) {
  main {
    margin: 32px auto;
    padding: 0 16px;
  }
}

.home h1,
.home p {
  max-width: 1072px;
}

.home h1 {
  font-size: 64px;
}

@media (max-width: 768px) {
  .home h1 {
    font-size: 48px;
  }
}

.home p {
  font-size: 24px;
  margin: 56px 0;
}

.home p a {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .home p {
    font-size: 20px;
    margin: 32px 0;
  }
}

.details_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 24px;
}

@media (max-width: 768px) {
  .details_container {
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
  }
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}

@media (max-width: 768px) {
  figure {
    row-gap: 0px;
  }
}

figure div {
  width: 384px;
  height: 218px;
}

@media (max-width: 768px) {
  figure div {
    width: 284px;
    height: 161px;
  }
}

figure div .img_fit_container {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

figure .img_esiee {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid #153e5d;
  border-radius: 5px;
}

figcaption {
  font-family: "Lexend_medium", sans-serif;
  font-size: 20px;
  color: var(--text-purple);
  text-align: center;
}

@media (max-width: 768px) {
  figcaption {
    font-size: 18px;
  }
}

.CTA_devWeb {
  display: block;
  width: fit-content;
  font-family: "Lexend_bold", sans-serif;
  font-size: 24px;
  text-align: center;
  border: 3px solid var(--main-blue);
  border-radius: 5px;
  background-color: var(--main-white);
  color: var(--main-blue);
  padding: 16px;
  margin: auto;
  transition: all ease-in-out 0.1s;
}

@media (max-width: 768px) {
  .CTA_devWeb {
    font-size: 18px;
  }
}

.CTA_devWeb:hover {
  background-color: var(--main-blue);
  color: var(--main-white);
}
