/* Styles for even divs */

.web main {
  display: flex;
  flex-direction: column;
  row-gap: 56px;
}

@media (max-width: 768px) {
  .web main {
    row-gap: 32px;
  }
}

.web h1 {
  font-size: 56px;
  text-align: center;
}

@media (max-width: 768px) {
  .web h1 {
    font-size: 40px;
    text-align: left;
  }
}

.web main img {
  width: 256px;
  aspect-ratio: 1;
}

@media (max-width: 768px) {
  .web main img {
    width: 116px;
  }
}

.web main div {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  column-gap: 16px;
}

.web main div:nth-child(even) {
  flex-direction: row-reverse;
}

.web main div:nth-child(odd) {
  flex-direction: row;
  text-align: right;
}

.web p {
  font-family: "Lexend_medium", sans-serif;
  font-size: 36px;
}

@media (max-width: 768px) {
  .web p {
    font-size: 18px;
  }
}

p .underline {
  text-decoration: dotted underline;
}

p .highlight {
  color: var(--text-highlight);
}
